<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cortex_pdf>
            <general>
                <enabled>1</enabled>
                <wkhtmltopdf>
                    <path>/usr/local/bin/wkhtmltopdf</path>
                    <options>
                        <enable_local_file_access>1</enable_local_file_access>
                        <javascript_delay>1000</javascript_delay>
                        <margin_top>10mm</margin_top>
                        <margin_bottom>10mm</margin_bottom>
                        <margin_left>10mm</margin_left>
                        <margin_right>10mm</margin_right>
                    </options>
                </wkhtmltopdf>
                <page_size>A4</page_size>
                <orientation>portrait</orientation>
            </general>
            <pdf_config>
                <paper_size>A4</paper_size>
                <orientation>portrait</orientation>
                <footer_text translate="true">© 2024 Cortex. Todos os direitos reservados.</footer_text>
                <footer_font_size>8pt</footer_font_size>
            </pdf_config>
            <design>
                <primary_color>#1979c3</primary_color>
                <secondary_color>#006bb4</secondary_color>
                <text_color>#333333</text_color>
                <font_size_title>18</font_size_title>
                <font_size_body>12</font_size_body>
            </design>
            <images>
                <show_gallery>1</show_gallery>
                <max_gallery_images>5</max_gallery_images>
                <enable_image_type>1</enable_image_type>
            </images>
            <notification>
                <enabled>1</enabled>
                <email_template>cortex_pdf_notification_email_template</email_template>
                <error_email_template>cortex_pdf_error_email_template</error_email_template>
                <sender_email_identity>general</sender_email_identity>
                <recipient_email>admin@example.com</recipient_email>
                <error_threshold>3</error_threshold>
            </notification>
            <advanced>
                <queue_enabled>1</queue_enabled>
                <queue_batch_size>10</queue_batch_size>
                <queue_retry_delay>300</queue_retry_delay>
                <queue_max_retries>3</queue_max_retries>
            </advanced>
        </cortex_pdf>
    </default>
</config> 